<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="installer" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="2ced214c-8fc0-478f-b128-ce0c39383dd1">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
